html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-bottom: 20px;
  color: #fff;
  font-size: 70px;
}
input {
  border: none;
  background-color: transparent;
  color: #fff;
  font-weight: bold;
  opacity: 0.9;
  outline: none;
}
input::placeholder {
  color: #fff;
  border-bottom: 3px solid #fff;
}
input.darkColor::placeholder {
  color: #34495e;
  border-bottom: 3px solid #34495e;
}

.usrNameForm,
.greeting {
  display: none;
  height: 40px;
}

.showing {
  display: block;
}

.greeting {
  margin: 0;
  color: #fff;
  font-size: 30px;
  opacity: 0.9;
}

.usrNameForm input {
  width: 310px;
  font-size: 30px;
}

.toDoForm input {
  width: 230px;
  margin: 20px 0;
  font-size: 20px;
}
.toDoList {
  width: 230px;
  margin: 0;
}

.toDoList li {
  list-style: none;
  color: #fff;
  font-size: 20px;
}

.toDoList.darkColor li {
  color: #34495e;
}

.toDoList button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.weather {
  position: absolute;
  top: 7px;
  right: 13px;
  color: #fff;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn .5s linear;
}

.darkColor {
  color: #34495e;
}